<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css">
    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"></script>
    
    
    <title>Solar Data Request</title>
    <style>
        @import url('https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css');
        .custom-heading {
            font-size: 24px;
            color: #333;
        }

        .bg-blue-500 {
            background-color: #3498db;
        }
    </style>
</head>

<body class="bg-gray-200 font-sans">
    <header class="bg-gray-800 text-white text-center py-4">
        <h1 class="text-2xl font-semibold">NSRDB-Powered Solar Data Request</h1>
    </header>

    <div class="container mx-auto mt-8 p-4 bg-white rounded-lg shadow-lg">
        <form action="/run_script" method="POST">
            <div class="mb-4">
                <label for="email" class="block font-semibold text-gray-600">Enter your email:</label>
                <input type="email" id="email" name="email" class="w-full px-3 py-2 border rounded focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" required>
            </div>

            <div class="mb-4">
                <label for="api_key" class="block font-semibold text-gray-600">Enter your NSRDB API key:</label>
                <input type="text" id="api_key" name="api_key" class="w-full px-3 py-2 border rounded shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" required>
            </div>

            <div class="mb-4">
                <label for="years" class="block font-semibold text-gray-600">Select year(s):</label>
                <select id="years" name="years" class="w-full px-3 py-2 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" multiple required>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                </select>
            </div>

            <script>
                new MultiSelectTag('years')  
            </script>
            
            <div class="mb-4">
                <label for="data_types" class="block font-semibold text-gray-600">Select data type(s):</label>
                <select id="data_types" name="data_types" class="w-full px-3 py-2 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" multiple required>
                    <option value="dhi">DHI</option>
                    <option value="clearsky_dhi">Clearsky DHI</option>
                    <option value="clearsky_dni">Clearsky DNI</option>
                    <option value="clearsky_ghi">Clearsky GHI</option>
                    <option value="cloud_type">Cloud Type</option>
                    <option value="dew_point">Dew Point</option>
                    <option value="fill_flag">Fill Flag</option>
                    <option value="surface_albedo">Surface Albedo</option>
                    <option value="wind_speed">Wind Speed</option>
                    <option value="precipitable_water">Precipitable Water</option>
                    <option value="wind_direction">Wind Direction</option>
                    <option value="relative_humidity">Relative Humidity</option>
                    <option value="pressure">Pressure</option>
                </select>
            </div>

            <script>
                new MultiSelectTag('data_types')  
            </script>

            <div class="mb-4">
                <label for="interval" class="block font-semibold text-gray-600">Select data interval:</label>
                <select id="interval" name="interval" class="w-full px-3 py-2 border rounded focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" required>
                    <option value="5">5 minutes</option>
                    <option value="15">15 minutes</option>
                    <option value="30">30 minutes</option>
                    <option value="60">60 minutes</option>
                </select>
            </div>

            <div class="mb-4">
                <label for="latitude" class="block font-semibold text-gray-600">Enter the latitude:</label>
                <input type="text" id="latitude" name="latitude" class="w-full px-3 py-2 border rounded focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" required>
            </div>

            <div class="mb-4">
                <label for="longitude" class="block font-semibold text-gray-600">Enter the longitude:</label>
                <input type="text" id="longitude" name="longitude" class="w-full px-3 py-2 border rounded focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" required>
            </div>

            <div class="mt-4">
                <button type="submit" class="bg-gray-800 text-white px-4 py-2 rounded cursor-pointer hover:bg-gray-600">Submit</button>
            </div>
        </form>
    </div>

    <footer class="bg-gray-800 text-white py-4 text-center">
        <p>&copy; 2023 SOLAR-TK. All rights reserved.</p>
        <p>Contact us at LASS@gmail.com</p>
        <p><a href="#" class="underline">LASS Website</a></p>
    </footer>

    </body>
</html>
